    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    body {
        background-color: #f7fafc;
        color: #333;
        line-height: 1.6;
        padding: 20px;
    }

    header {
        text-align: center;
        padding: 30px 0;
        background-color: #4caf50;
        color: white;
        border-radius: 8px;
        margin-bottom: 20px;
    }

    h1 {
        font-size: 2em;
    }

    section {
        background-color: white;
        padding: 20px;
        margin-bottom: 20px;
        border-radius: 8px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    h2 {
        margin-bottom: 10px;
        color: #2e7d32;
    }

    ul {
        margin-left: 20px;
        margin-top: 10px;
    }

    ul li {
        margin-bottom: 10px;
    }
    .conteudo_contatos {
        margin-top: 4px;  /* ou menos, se quiser ainda mais próximo */
    }
    
    li {
        margin-bottom: 16px; /* ou outro valor que se ajuste ao seu layout */
    }
    

    a {
        color: #388e3c;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

    footer {
        background-color: #c8e6c9;
        padding: 20px;
        border-radius: 8px;
        text-align: center;
        margin-top: 30px;
    }

    footer h2 {
        color: #1b5e20;
    }

    .download-button {
        display: inline-block;
        margin-top: 15px;
        padding: 10px 20px;
        background-color: #4caf50;
        color: white;
        border-radius: 5px;
        text-decoration: none;
        font-weight: bold;
        transition: background-color 0.3s ease;
    }
    
    .download-button:hover {
        background-color: #388e3c;
    }
    
